{% extends "base.html" %}

{% block content %}
    <div class="row">
    
        <div class="col-md-10 col-sm-9">
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    {% if post.image %}
                        <img src="{{MEDIA_URL}}{{post.image}}" height=250px>
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <button class="btn btn-primary" onclick="location.href='{% url 'posts' %}'">Back To Blog</button>
                    <p>{{ post.published_date }}| <strong>Views</strong> {{ post.views }}| <strong>Tag</strong> {{ post.tag }}</p>
                      
                </div>
           
            </div>
            <hr>
        {% include '_comments.html' %}
        </div>
    </div>
{% endblock %}