{% extends "base.html" %}
{% load static from staticfiles %}
{% load  bootstrap_tags %}
{% block content %}



    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            
        </tr>
        </thead>
        <tbody>
        {% for rent in rents %}
            <tr>
                <td><a href="{% url 'rent_details' rent.id %}"><img height="100" width="100" src="{{ MEDIA_URL }}{{ rent.image }}"></a></td>
                <td><a href="{% url 'rent_details' rent.id %}">{{ rent.name }}</a></td>
                <td>{{ rent.description }}</td>
                <td>{{ rent.price }}</td>
                <!--<td>-->
                <!--    <form method="post" action="#">-->
                <!--        {% csrf_token %}-->
                <!--        Quantity-->
                <!--        <input name='quantity' type="number" min="1" max="999">-->
                <!--        <button type="submit">Add</button>-->
                <!--    </form>-->
                <!--</td>-->
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}