{% extends "base.html" %}
{% load static from staticfiles %}
{% load  bootstrap_tags %}
{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            
        </tr>
        </thead>
        <tbody>
        {% for buy in buys %}
            <tr>
                <td><a href="{% url 'buy_details' buy.id %}"><img height="100" width="100" src="{{ MEDIA_URL }}{{ buy.image }}"></a></td>
                <td><a href="{% url 'buy_details' buy.id %}">{{ buy.name }}</a></td>
                <td>{{ buy.description }}</td>
                <td>{{ buy.price }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}