{% extends "base.html" %}
{% load static from staticfiles %}
{% load  bootstrap_tags %}
{% block content %}

    <table class="table">
        <a class="bg-primary"><h1 style="text-align:center;"> Featured Cars</h1></a>
        <br>
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            
        </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{% url 'buy_details' ad.id %}"><img height="100" width="100" src="{{ MEDIA_URL }}{{ ad.image }}"></a></td>
                <td><a href="{% url 'buy_details' ad.id %}">{{ ad.car_name }}</a></td>
                <td>{{ ad.descriptions }}</td>
                <td>{{ ad.price }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}