{% extends "base.html" %}
{% block content %}

    <div class="row">
         
        <div class="col-md-6">
                <img src="{{ MEDIA_URL }}{{ buys.image }}" width="100%"/>
                <div>
                    {% for buyImage in buy_images %}
                    <img src="{{MEDIA_URL}}{{buyImage}}" width="100px"/>
                    {% endfor %}
                    
                </div>
        </div>
        <div class="col-md-6">
                <h2>Name: </h2>
                <p>{{ buys.name }}</p>
                <h2>Description:</h2>
                <p>{{ buys.description }}</p>
                <h2>Price:</h2>
                <p>€{{ buys.price }}</p>
                <br>
                <a href="{% url 'checkout' %}" class="btn-success btn-lg">BUY NOW</a>
        </div>

           
       
      
            <div class="row">
                <div class="col-xs-9">
                     
                    <button class="btn btn-default" onclick="location.href='{% url 'buy' %}'">Back</button>
                    
                    
                     
                     </div>
            </div>
        </div>
    </div>
    

    
    
     

{% endblock %}