{% load static from staticfiles %}

<!DOCTYPE html>
<head>
    <title>Stack - BootCamp Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Germania+One|Monoton|Nosifer" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Nosifer" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">CarHub</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'buy' %}">Buy</a></li> 
            <li><a href="{% url 'create_for_sale_ad' %}"><span class="glyphicon glyphicon-tag"></span>Sell A Car</a></li>
            <li class="dropdown"><a href="{% url 'posts' %}">CarHub Blog</a>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        
                        <span>                        
                
                    
                                        
                
                            {% if request.user.is_authenticated %}
                          <img src="{{MEDIA_URL}}{{request.user.profile.image}}"
                                                       style="width:25px; height: 25px; background-color: #12ABB2 ; color: #ffffff ;"
                                                       class="img-circle">
                           {% else  %}                          
                           <img src="{{MEDIA_URL}}static/images/blogpicture.png"
                                                       style="width:25px; height: 25px; background-color: #12ABB2 ; color: #ffffff ;"
                                                       class="img-circle">                            
                           {% endif %}
                            
                            
                            
                                                     
                            </span> 
                            Create Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                            
                            {% else %}
                            <li><a href="{% url 'login' %}">Sign In</a></li>
                            <li><a href="{% url 'register' %}">Sign Up</a></li>
                            {% endif %}
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div id="masthead">
    <div class="container">
        <div class="row">
            <br>
            <br>
            <br>
    
            <br>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <!--blog entries-->
                    {% block content %}
                    {% endblock %}
                    <!--blog entries-->
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<footer>
  
 <h3> <a href="{% url 'posts' %}"> CarHub Blog</h5></a>
 <br>
 <p><strong><a href="{% url 'create_for_sale_ad' %}">Place an advert</strong></a> | <strong><a href="#">Contact Us</strong></a> | <strong><a href="{% url 'home' %}">Latest Cars</strong></a></p>
<br>

<div class="box1-wrap">
<div class="box1 animate fadeInUp one">
       

 </div>
 </div>
</footer>


</body>
</html>